* {
    box-sizing: border-box;
}
.navbar {
    display: flex;
    background-color: lightgrey;
    padding: 12px;
    justify-content: space-between;
    box-sizing: border-box;
    font-size: 12px;
    font-weight: bold;
}
nav a:hover {
    background: lightskyblue;
}
.left {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-grow: .1;
    font-family: Verdana;
}
.middle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Courier New";
    font-size: 3em;
    font-weight: normal;
    padding: .2em;
    margin: -35px;
}
.right {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-grow: .1;
    font-family: Verdana;
}