h1 {
    text-align: center;
}

h1.fancy-header {
    color: turquoise;
    text-decoration: underline;
}

h3.fancy-header {
    color: lightsalmon;
    text-decoration: underline;
}

.extra-large {
    font-size: 40px;
}
