div {
    color: dimgrey;
    text-align: center;
    /*height: 100vh;*/
    margin-top: 1em;
}
#map {
    width: 100vw;
    height: 60vh;
    bottom: 0;
}
.navbar-toggle {
    padding: 0 0;
    margin-top: 5px;
    margin-bottom: 0;
    display: flex;
}
.flex-container {
    display: flex;
    justify-content: space-evenly;
}
.navbar-text {
    margin-left: auto;
}
